<div class="card m-auto my-5">
  <div class="card-header">
    <div class="text-header">Login</div>
  </div>
  <div class="card-body">
    <form action="#">
      <div class="form-group">
        <label for="username">name:</label>
        <input
          required=""
          class="form-control"
          name="name"
          id="name"
          type="text"
        />
      </div>
      <div class="form-group">
        <label for="number">email:</label>
        <input
          required=""
          class="form-control"
          name="email"
          id="email"
          type="email"
        />
      </div>
      <div class="form-group">
        <label for="stock">password:</label>
        <input
          required=""
          class="form-control"
          name="password"
          id="password"
          type="password"
        />
      </div>
      <div class="form-group">
        <label for="photo">repeat password</label>
        <input
          required=""
          class="form-control"
          name="repeatPassword"
          id="repeatPassword"
          type="password"
        />
      </div>
      <input type="submit" class="btn" value="login" id="createProduct" />
    </form>
  </div>
</div>